<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMemor" />
                <binding name="BasicHttpBinding_IReadMemor" />
                <binding name="BasicHttpBinding_IWriteMemor" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemor"
                contract="Memor.IMemor" name="BasicHttpBinding_IMemor" />
            <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReadMemor"
                contract="Memor.IReadMemor" name="BasicHttpBinding_IReadMemor" />
            <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWriteMemor"
                contract="Memor.IWriteMemor" name="BasicHttpBinding_IWriteMemor" />
        </client>
    </system.serviceModel>
</configuration>