<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IMemor" />
                <binding name="IReadMemor" maxBufferPoolSize="52428800" maxBufferSize="52428800"
                    maxReceivedMessageSize="52428800" />
                <binding name="IWriteMemor" maxBufferPoolSize="52428800" maxBufferSize="52428800"
                    maxReceivedMessageSize="52428800" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63506/Memor.svc/IMemor" binding="basicHttpBinding"
                bindingConfiguration="IMemor" contract="ServiceReference1.IMemor"
                name="IMemor" />
            <endpoint address="http://localhost:63506/Memor.svc/IReadMemor"
                binding="basicHttpBinding" bindingConfiguration="IReadMemor"
                contract="ServiceReference1.IReadMemor" name="IReadMemor" />
            <endpoint address="http://localhost:63506/Memor.svc/IWriteMemor"
                binding="basicHttpBinding" bindingConfiguration="IWriteMemor"
                contract="ServiceReference1.IWriteMemor" name="IWriteMemor" />
        </client>
    </system.serviceModel>
</configuration>