<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MecEntities" connectionString="metadata=res://*/MecModel.csdl|res://*/MecModel.ssdl|res://*/MecModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:122.117.88.137\SQLEXPRESS,1035;initial catalog=三軸;persist security info=True;user id=Mechanical;password=Ab123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=CodesysIIS.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="log4net-config-file" value="Log.config" />
    <!--<add key="CodesysBackup" value="Log\Codesys.cms" />
    <add key="SCF_Log_L" value="Logs\SFC_Log_L.html" />
    <add key="SCF_Log_Ｒ" value="Logs\SFC_Log_Ｒ.html" />
    <add key="SCF_Log_Ｍ" value="Logs\SFC_Log_Ｍ.html" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="false" performanceCounters="Default">
      <messageLogging logEntireMessage="false" logKnownPii="false" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
      <endToEndTracing activityTracing="false" messageFlowTracing="false" />
    </diagnostics>
    <client>
      <endpoint behaviorConfiguration="ClientBehavior" binding="basicHttpBinding" bindingConfiguration="pcBinding" contract="CodesysIIS.IMemor" name="Memor" kind="" endpointConfiguration="" />
      <endpoint behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="pcBinding" contract="CodesysIIS.IReadMemor" name="ReadMemor" />
      <endpoint behaviorConfiguration="ClientBehavior" binding="basicHttpBinding" bindingConfiguration="pcBinding" contract="CodesysIIS.IWriteMemor" name="WriteMemor" />
      <endpoint behaviorConfiguration="ClientBehavior" binding="wsDualHttpBinding" bindingConfiguration="wsDua" contract="CodesysIIS.IPhoneConnectDuplex" name="PhoneConnectDuplex" />
      <endpoint binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" name="mexHttp" />
      <endpoint address="ProcessingMonitorDuplex" binding="wsDualHttpBinding" bindingConfiguration="wsDua" contract="CodesysIIS.IProcessingMonitorDuplex" name="ProcessingMonitorDuplex" />
      <metadata>
        <wsdlImporters>
          <extension type="Wsdl.WsdlDocumentationImporter, Wsdl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </wsdlImporters>
      </metadata>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="pcBinding" closeTimeout="06:01:00" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Text">
          <readerQuotas maxArrayLength="437912" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="TcpBinding" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" transferMode="StreamedRequest" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="2147483647" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="wsDua" closeTimeout="00:05:00" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <security mode="None">
            <message negotiateServiceCredential="false" />
          </security>
        </binding>
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttp" openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="WebHttp" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="CodesysIIS.Memor">
        <endpoint address="IMemor" binding="basicHttpBinding" bindingConfiguration="pcBinding" name="IMemor" bindingNamespace="http://Codesys.Memor" contract="CodesysIIS.IMemor" />
        <endpoint address="IReadMemor" binding="basicHttpBinding" bindingConfiguration="pcBinding" name="IReadMemor" bindingNamespace="http://Codesys.Memor" contract="CodesysIIS.IReadMemor" />
        <endpoint address="IWriteMemor" binding="basicHttpBinding" bindingConfiguration="pcBinding" name="IWriteMemor" bindingNamespace="http://Codesys.Memor" contract="CodesysIIS.IWriteMemor" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange" />
        <endpoint address="restReadMemor" behaviorConfiguration="rest" binding="webHttpBinding" bindingConfiguration="WebHttp" name="restReadMemor" contract="CodesysIIS.IReadMemor" />
        <endpoint address="restWriteMemor" behaviorConfiguration="rest" binding="webHttpBinding" bindingConfiguration="WebHttp" name="restWriteMemor" contract="CodesysIIS.IWriteMemor" />
        <host>
          <timeouts closeTimeout="00:10:10" openTimeout="00:10:00" />
        </host>
      </service>
      <service behaviorConfiguration="" name="CodesysIIS.PhoneConnectDuplex">
        <endpoint address="PhoneConnectDuplex" behaviorConfiguration="" binding="wsDualHttpBinding" bindingConfiguration="wsDua" name="PhoneConnectDuplex" bindingNamespace="http://Codesys.PhoneConnectDuplex" contract="CodesysIIS.IPhoneConnectDuplex" isSystemEndpoint="false" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange" />
      </service>
      <service name="CodesysIIS.ReadMemoryDuplex">
        <endpoint address="ReadMemoryDuplex" binding="wsDualHttpBinding" bindingConfiguration="wsDua" name="ReadMemoryDuplex" bindingNamespace="http://Codesys.ReadMemoryDuplex" contract="CodesysIIS.IReadMemoryDuplex" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange" />
      </service>
      <service name="CodesysIIS.MonitorDuplex">
        <endpoint address="MonitorDuplex" binding="wsDualHttpBinding" bindingConfiguration="wsDua" name="MonitorDuplex" bindingNamespace="http://Codesys.MonitorDuplex" contract="CodesysIIS.IMonitorDuplex" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientBehavior">
          <callbackDebug includeExceptionDetailInFaults="true" />
          <soapProcessing />
        </behavior>
        <behavior name="NewBehavior0" />
        <behavior name="rest">
          <webHttp />
        </behavior>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="TcpBehavior">
          <serviceDebug />
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <remove scheme="http" />
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="pcBinding" />
      <add scheme="https" binding="basicHttpsBinding" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
        <!--若是檔案超過4096KB 請maxAllowedContentLength-->
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在偵錯期間瀏覽 Web 應用程式根目錄，請將下面的值設為 true。
        請在部署之前將該值設定為 false，以避免 Web 應用程式資料夾資訊洩漏。
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.8.0" newVersion="6.8.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>