<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="exposeExceptionDetail">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="" name="GuandaMechanical.ReadMemoryWinServer">
        <endpoint address="net.tcp://127.0.0.1:3721/ReadMemoryServer"
          binding="netTcpBinding" contract="GuandaContract.IReadMemoryServer" />
      </service>
    </services>
  </system.serviceModel>
</configuration>