<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="22.10.0" targetFramework="net472" />
  <package id="DevExpress.Charts" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Charts.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.CodeParser" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Data" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Data.Desktop" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.DataAccess" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.DataVisualization.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Diagram.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Gauges.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Images" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Map.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Mvvm" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Office.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Pdf.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Pdf.Drawing" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.PivotGrid.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Printing.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Reporting.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.RichEdit.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.RichEdit.Export" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Scaffolding.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Scaffolding.EFCore" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Scheduler.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Scheduler.CoreDesktop" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Sparkline.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.SpellChecker.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Spreadsheet.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.TreeMap.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Utils" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Win.Dialogs.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Win.Grid" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Win.Navigation" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Win.Printing" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Win.Scheduler" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Win.SchedulerReporting" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Win.TreeList" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Accordion" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Carousel" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Charts" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Controls" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Core.Extensions" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Diagram" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Dialogs" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Docking" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Gantt" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Gauges" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Grid" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Grid.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Grid.Printing" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.LayoutControl" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Map" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.NavBar" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Office" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.PdfViewer" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.PivotGrid" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Printing" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.PrismAdapters" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.PropertyGrid" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Reporting" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Ribbon" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.RichEdit" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Scheduling" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.SchedulingReporting" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.SpellChecker" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Spreadsheet" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.TreeMap" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.TypedStyles" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Xpo" version="21.1.4" targetFramework="net46" />
  <package id="DocumentFormat.OpenXml" version="2.18.0" targetFramework="net472" />
  <package id="DotNetZip" version="1.15.0" targetFramework="net46" />
  <package id="Fody" version="6.2.0" targetFramework="net46" developmentDependency="true" />
  <package id="GrapeCity.Documents.Common" version="4.1.0.664" targetFramework="net472" />
  <package id="GrapeCity.Documents.Imaging" version="5.2.0.803" targetFramework="net472" />
  <package id="GrapeCity.Documents.Pdf" version="5.2.0.803" targetFramework="net472" />
  <package id="GrapeCity.Documents.Word" version="4.1.0.664" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.34" targetFramework="net46" />
  <package id="log4net" version="2.0.9" targetFramework="net46" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net46" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="3.2.8" targetFramework="net46" />
  <package id="RestSharp" version="106.11.7" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="20.3.0.49" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Wpf" version="20.3.0.49" targetFramework="net472" />
  <package id="Syncfusion.DocToPDFConverter.Wpf" version="20.3.0.49" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.3.0.49" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="20.3.0.49" targetFramework="net472" />
  <package id="Syncfusion.OfficeChartToImageConverter.WPF" version="20.3.0.49" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="20.3.0.49" targetFramework="net472" />
  <package id="Syncfusion.SfChart.WPF" version="20.3.0.49" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net472" />
</packages>