<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="ExternalImport"/>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59183/ExternalImport.svc/ExternalImport" binding="wsDualHttpBinding" bindingConfiguration="ExternalImport" contract="ExternalImport.IExternalImport" name="ExternalImport">
                <identity>
                    <userPrincipalName value="DESKTOP-I5DKN0A\User"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
