<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IMemor" />
                <binding name="IReadMemor" />
                <binding name="IWriteMemor" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc/IMemor"
                binding="basicHttpBinding" bindingConfiguration="IMemor" contract="Memor.IMemor"
                name="IMemor" />
            <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc/IReadMemor"
                binding="basicHttpBinding" bindingConfiguration="IReadMemor"
                contract="Memor.IReadMemor" name="IReadMemor" />
            <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc/IWriteMemor"
                binding="basicHttpBinding" bindingConfiguration="IWriteMemor"
                contract="Memor.IWriteMemor" name="IWriteMemor" />
        </client>
    </system.serviceModel>
</configuration>