<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="STD_105.Properties.Optional" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <applicationSettings>
    <STD_105.Properties.Optional>
      <setting name="Middle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LeftExport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RightExport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LeftEntrance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RightEntrance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Traverse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HandAuto" serializeAs="String">
        <value>False</value>
      </setting>
    </STD_105.Properties.Optional>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IMemor" receiveTimeout="00:01:00" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed" />
        <binding name="IReadMemor" receiveTimeout="00:01:00" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed">
          <readerQuotas maxArrayLength="437912" />
        </binding>
        <binding name="IWriteMemor" receiveTimeout="00:01:00" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed">
          <readerQuotas maxArrayLength="437912" />
        </binding>
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="PhoneConnectDuplex" closeTimeout="00:05:00" openTimeout="00:00:10"
          receiveTimeout="00:00:10" sendTimeout="00:00:10" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="ProcessingMonitorDuplex" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="NewBinding0" />
        <binding name="MonitorDuplex" closeTimeout="00:00:10" openTimeout="00:00:10"
          receiveTimeout="00:00:10" sendTimeout="00:00:10" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </wsDualHttpBinding>
      <netHttpBinding>
        <binding name="IPhoneStock" receiveTimeout="00:01:00" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.137:820/CodesysIIS/Memor.svc/IMemor"
        binding="basicHttpBinding" bindingConfiguration="IMemor" contract="Memor.IMemor"
        name="IMemor" />
      <endpoint address="http://192.168.0.137:820/CodesysIIS/Memor.svc/IReadMemor"
        binding="basicHttpBinding" bindingConfiguration="IWriteMemor"
        contract="Memor.IReadMemor" name="IReadMemor" />
      <endpoint address="http://192.168.0.137:820/CodesysIIS/Memor.svc/IWriteMemor"
        binding="basicHttpBinding" bindingConfiguration="IWriteMemor"
        contract="Memor.IWriteMemor" name="IWriteMemor" />
      <endpoint address="http://192.168.0.137:820/CodesysIIS/PhoneConnectDuplex.svc/PhoneConnectDuplex"
        binding="wsDualHttpBinding" bindingConfiguration="PhoneConnectDuplex"
        contract="PhoneMemor.IPhoneConnectDuplex" name="PhoneConnectDuplex" />
      <endpoint address="http://192.168.0.137:820/CodesysIIS/ReadMemoryDuplex.svc/ReadMemoryDuplex"
        binding="wsDualHttpBinding" bindingConfiguration="PhoneConnectDuplex"
        contract="ReadMemoryDuplex.IReadMemoryDuplex" name="ReadMemoryDuplex" />
      <endpoint address="http://localhost:63506/MonitorDuplex.svc/MonitorDuplex"
        binding="wsDualHttpBinding" bindingConfiguration="PhoneConnectDuplex"
        contract="MonitorDuplex.IMonitorDuplex" name="MonitorDuplex" />
      <metadata>
        <wsdlImporters>
          <extension type="Wsdl.WsdlDocumentationImporter, Wsdl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </wsdlImporters>
      </metadata>
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
