<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="STD_105.Properties.Optional" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <applicationSettings>
    <STD_105.Properties.Optional>
      <setting name="Middle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LeftExport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RightExport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LeftEntrance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RightEntrance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Traverse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HandAuto" serializeAs="String">
        <value>False</value>
      </setting>
    </STD_105.Properties.Optional>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IMemor"/>
        <binding name="IReadMemor"/>
        <binding name="IWriteMemor"/>
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="PhoneConnectDuplex" closeTimeout="00:05:00">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
      <netHttpBinding>
        <binding name="IPhoneStock">
          <webSocketSettings transportUsage="Always"/>
        </binding>
      </netHttpBinding>
    </bindings>
    <client>
 <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc/IMemor" binding="basicHttpBinding"
        bindingConfiguration="IMemor" contract="Memor.IMemor" name="IMemor" />
      <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc/IReadMemor"
        binding="basicHttpBinding" bindingConfiguration="IReadMemor"
        contract="Memor.IReadMemor" name="IReadMemor" />
      <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc/IWriteMemor"
        binding="basicHttpBinding" bindingConfiguration="IWriteMemor"
        contract="Memor.IWriteMemor" name="IWriteMemor" />
      <endpoint address="http://192.168.31.137:820/CodesysIIS/PhoneConnectDuplex.svc/PhoneConnectDuplex"
        binding="wsDualHttpBinding" bindingConfiguration="PhoneConnectDuplex"
        contract="PhoneMemor.IPhoneConnectDuplex" name="PhoneConnectDuplex" />
      <metadata>
        <wsdlImporters>
          <extension type="Wsdl.WsdlDocumentationImporter, Wsdl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </wsdlImporters>
      </metadata>
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
