<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="PhoneConnectDuplex">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63506/PhoneConnectDuplex.svc/PhoneConnectDuplex"
                binding="wsDualHttpBinding" bindingConfiguration="PhoneConnectDuplex"
                contract="Phone.IPhoneConnectDuplex" name="PhoneConnectDuplex" />
        </client>
    </system.serviceModel>
</configuration>