<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="PhoneConnectDuplex" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63506/PhoneConnectDuplex.svc/Phone"
                binding="wsDualHttpBinding" bindingConfiguration="PhoneConnectDuplex"
                contract="Phone.IPhoneConnectDuplex" name="PhoneConnectDuplex">
                <identity>
                    <userPrincipalName value="DESKTOP-I5DKN0A\User" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>