<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IPC_OperatingDatabase"/>
                <binding name="IOperatingDatabase"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://122.117.88.137/PC_Authenticatication.svc/IPC_OperatingDatabase" binding="basicHttpBinding" bindingConfiguration="IPC_OperatingDatabase" contract="PC.IPC_OperatingDatabase" name="IPC_OperatingDatabase"/>
            <endpoint address="http://122.117.88.137/PC_Authenticatication.svc/IOperatingDatabase" binding="basicHttpBinding" bindingConfiguration="IOperatingDatabase" contract="PC.IOperatingDatabase" name="IOperatingDatabase"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
