<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Data.Desktop" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Images" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Mvvm" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Office.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Pdf.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Pdf.Drawing" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Printing.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Scheduler.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Sparkline.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.SpellChecker.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.TreeMap.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Utils" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Win.Dialogs.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Win.Navigation" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Win.TreeList" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Accordion" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Carousel" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Controls" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Docking" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Gauges" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Grid.Core" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.LayoutControl" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.NavBar" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.PrismAdapters" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.PropertyGrid" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Ribbon" version="21.1.4" targetFramework="net46" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="21.1.4" targetFramework="net46" />
  <package id="Fody" version="1.29.2" targetFramework="net452" developmentDependency="true" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="PropertyChanged.Fody" version="1.50.2" targetFramework="net452" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="Walterlv.Windows" version="7.2.0" targetFramework="net472" />
</packages>