<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GD_STD.Optional" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GD_STD.Power" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GD_STD.Properties.Optional" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <GD_STD.Optional>
            <setting name="Middle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightExport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LeftEntrance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightEntrance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hand" serializeAs="String">
                <value>False</value>
            </setting>
        </GD_STD.Optional>
    </applicationSettings>
    <userSettings>
        <GD_STD.Power>
            <setting name="MiddleAxisX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiddleAxisY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiddleAxisZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftAxisX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftAxisY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftAxisZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightAxisX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightAxisY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightAxisZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArmAxisX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArmAxisY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ArmAxisZ" serializeAs="String">
                <value>0</value>
            </setting>
        </GD_STD.Power>
        <GD_STD.Properties.Optional>
            <setting name="Middle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeftExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RightExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeftEntrance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RightEntrance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Traverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HandAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EntranceTraverseNumber" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ExportTraverseNumber" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoDrill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportTraverseRoute" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="ExportTraverseAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EntranceTraverseAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MillingCutter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportTraverseSnsorCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ExportTraverseLeftSnsorCount" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ExportTraverseRightSnsorCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reverse" serializeAs="String">
                <value>True</value>
            </setting>
        </GD_STD.Properties.Optional>
    </userSettings>
</configuration>
