<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IMemor" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
                <binding name="IReadMemor" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
                <binding name="IWriteMemor" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63506/Memor.svc/IMemor" binding="basicHttpBinding" bindingConfiguration="IMemor" contract="Memor.IMemor" name="IMemor" />
            <endpoint address="http://localhost:63506/Memor.svc/IReadMemor" binding="basicHttpBinding" bindingConfiguration="IReadMemor" contract="Memor.IReadMemor" name="IReadMemor" />
            <endpoint address="http://localhost:63506/Memor.svc/IWriteMemor" binding="basicHttpBinding" bindingConfiguration="IWriteMemor" contract="Memor.IWriteMemor" name="IWriteMemor" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v21.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.1.5.0" newVersion="21.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v21.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.1.5.0" newVersion="21.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>