<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="log4net-config-file" value="Log.config"/>
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDua" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="HMI.ExternalImport">
        <endpoint address="ExternalImport" binding="wsDualHttpBinding" bindingConfiguration="" name="ExternalImport" bindingNamespace="http://HMI.ExternalImportDuplex" contract="HMI.IExternalImport"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在偵錯期間瀏覽 Web 應用程式根目錄，請將下面的值設為 true。
        請在部署之前將該值設定為 false，以避免 Web 應用程式資料夾資訊洩漏。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>