<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WPFSTD105.Properties.Power" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WPFSTD105.Properties.MecSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WPFSTD105.Properties.SofSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WPFSTD105.SofSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <WPFSTD105.Properties.Power>
      <setting name="MiddleAxisX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MiddleAxisY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MiddleAxisZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftAxisX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftAxisY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftAxisZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightAxisX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightAxisY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightAxisZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ArmAxisX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ArmAxisY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ArmAxisZ" serializeAs="String">
        <value>0</value>
      </setting>
    </WPFSTD105.Properties.Power>
    <WPFSTD105.Properties.MecSetting>
      <setting name="LeftMeasuringPosition" serializeAs="String">
        <value>9999999,9999999,9999999</value>
      </setting>
      <setting name="MiddleMeasuringPosition" serializeAs="String">
        <value>9999999,9999999,9999999</value>
      </setting>
      <setting name="RighMeasuringPosition" serializeAs="String">
        <value>9999999,9999999,9999999</value>
      </setting>
      <setting name="LeftSensorZero" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="MiddleSensorZero" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="RighSensorZero" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="LeftTotalLength" serializeAs="String">
        <value>1698.427</value>
      </setting>
      <setting name="MiddleTotalLength" serializeAs="String">
        <value>1003.772</value>
      </setting>
      <setting name="RighTotalLength" serializeAs="String">
        <value>549.105</value>
      </setting>
      <setting name="MiddleBorrowMeasuringPosition" serializeAs="String">
        <value>9999999,9999999,9999999</value>
      </setting>
      <setting name="MiddleBorrowSensorZero" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="MiddleHighSensorZ" serializeAs="String">
        <value>141.72</value>
      </setting>
      <setting name="HandMaterialCorrectionWorkRange" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="HandMaterialZeroToWorkRange" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="HandJobLimit" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="HandOutClampToZeroLength" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="ClampDownEntranceL" serializeAs="String">
        <value>513.08</value>
      </setting>
      <setting name="ClampDownExportL" serializeAs="String">
        <value>515.08</value>
      </setting>
      <setting name="ClampDownEntranceR" serializeAs="String">
        <value>518.04</value>
      </setting>
      <setting name="ClampDownExportR" serializeAs="String">
        <value>514.92</value>
      </setting>
      <setting name="SideClampEntranceL" serializeAs="String">
        <value>1083.35</value>
      </setting>
      <setting name="SideClampExportL" serializeAs="String">
        <value>1083.4</value>
      </setting>
      <setting name="LeftEntranceDrillSetting" serializeAs="String">
        <value>(290.05,312.99,194.15,319.45)(290.05,219.88,194.38,321.5)(290.0,125.32,194.38,321.2)(290.0,26.94,194.50,318.15)</value>
      </setting>
      <setting name="LeftExportDrillSetting" serializeAs="String">
        <value>(10.17,312.37,194.76,318.28)(9.72,219.04,194.76,317.28)(9.80,122.41,194.76,318.45)(9.72,28.90,194.76,317.14)</value>
      </setting>
      <setting name="MiddleDrillSetting" serializeAs="String">
        <value>(308.158,150,113.95,7.88)(227.705,150,113.95,7.07)(147.535,150,113.95,7.71)(66.789,150,113.95,7.44)(-12.521,150,113.95,7.71)</value>
      </setting>
      <setting name="RightEntranceDrillSetting" serializeAs="String">
        <value>(289.86,312.57,127.76,269.80)(289.23,220.63,128.22,267.70)(289.45,123.23,128.22,269.40)(288.83,29.97,128.69,268.30)</value>
      </setting>
      <setting name="RightExportDrillSetting" serializeAs="String">
        <value>(10.54,312.68,128.46,268.7)(10.20,218.67,128.46,270.00)(10.39,123.55,128.46,269.50)(10.06,29.70,128.46,270.50)</value>
      </setting>
      <setting name="HMI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>GUANDA</value>
      </setting>
      <setting name="ClampDownThickness" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="HandSpeed" serializeAs="String">
        <value>0</value>
      </setting>
    </WPFSTD105.Properties.MecSetting>
    <WPFSTD105.Properties.SofSetting>
      <setting name="Hole" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="HoleFinish" serializeAs="String">
        <value>#FF0000FF</value>
      </setting>
      <setting name="Selection" serializeAs="String">
        <value>#FFFFFF4D</value>
      </setting>
      <setting name="OsVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AxisX" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="AxisY" serializeAs="String">
        <value>#FF66FF00</value>
      </setting>
      <setting name="AxisZ" serializeAs="String">
        <value>#FF0000FF</value>
      </setting>
      <setting name="ViewCubeIcon" serializeAs="String">
        <value>#FF303030</value>
      </setting>
      <setting name="Part" serializeAs="String">
        <value>#FFB8FF34</value>
      </setting>
      <setting name="Ingredient1" serializeAs="String">
        <value>#FFC71585</value>
      </setting>
      <setting name="Ingredient2" serializeAs="String">
        <value>#FF008080</value>
      </setting>
      <setting name="Null" serializeAs="String">
        <value>#FFFAEBD7</value>
      </setting>
      <setting name="ParameterBackColor" serializeAs="String">
        <value>#FF303030</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BaseBackColor" serializeAs="String">
        <value>#FF1E1E1E</value>
      </setting>
      <setting name="ParameterFontColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="ParameterFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="TitleFontSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SubTitleFontSize" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="BorderBrushColor" serializeAs="String">
        <value>#FF666666</value>
      </setting>
      <setting name="Point" serializeAs="String">
        <value>#FF008000</value>
      </setting>
    </WPFSTD105.Properties.SofSetting>
    <WPFSTD105.SofSetting>
      <setting name="Hole" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="HoleFinish" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="Part" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="Ingredients1" serializeAs="String">
        <value>Peru</value>
      </setting>
      <setting name="Ingredients2" serializeAs="String">
        <value>LightSeaGreen</value>
      </setting>
      <setting name="Loss" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="AxisX" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="AxisY" serializeAs="String">
        <value>48, 48, 48</value>
      </setting>
      <setting name="AxisZ" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewCubeIcon" serializeAs="String">
        <value>48, 48, 48</value>
      </setting>
    </WPFSTD105.SofSetting>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="PhoneConnectDuplex">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63506/PhoneConnectDuplex.svc/PhoneConnectDuplex"
        binding="wsDualHttpBinding" bindingConfiguration="PhoneConnectDuplex"
        contract="PhoneMemor.IPhoneConnectDuplex" name="PhoneConnectDuplex" />
      <metadata>
        <wsdlImporters>
          <extension type="Wsdl.WsdlDocumentationImporter, Wsdl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </wsdlImporters>
      </metadata>
    </client>
  </system.serviceModel>
</configuration>