<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WPFSTD105.Properties.Power" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WPFSTD105.Properties.MecSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WPFSTD105.Properties.SofSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WPFSTD105.SofSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <WPFSTD105.Properties.Power>
      <setting name="MiddleAxisX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MiddleAxisY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MiddleAxisZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftAxisX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftAxisY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LeftAxisZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightAxisX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightAxisY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightAxisZ" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ArmAxisX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ArmAxisY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ArmAxisZ" serializeAs="String">
        <value>0</value>
      </setting>
    </WPFSTD105.Properties.Power>
    <WPFSTD105.Properties.MecSetting>
      <setting name="LeftMeasuringPosition" serializeAs="String">
        <value>9999999,9999999,9999999</value>
      </setting>
      <setting name="MiddleMeasuringPosition" serializeAs="String">
        <value>9999999,9999999,9999999</value>
      </setting>
      <setting name="RighMeasuringPosition" serializeAs="String">
        <value>9999999,9999999,9999999</value>
      </setting>
      <setting name="LeftSensorZero" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="MiddleSensorZero" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="RighSensorZero" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="LeftTotalLength" serializeAs="String">
        <value>1698.427</value>
      </setting>
      <setting name="MiddleTotalLength" serializeAs="String">
        <value>1003.772</value>
      </setting>
      <setting name="RighTotalLength" serializeAs="String">
        <value>549.105</value>
      </setting>
      <setting name="MiddleBorrowMeasuringPosition" serializeAs="String">
        <value>9999999,9999999,9999999</value>
      </setting>
      <setting name="MiddleBorrowSensorZero" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="MiddleHighSensorZ" serializeAs="String">
        <value>136.04</value>
      </setting>
      <setting name="HandMaterialCorrectionWorkRange" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HandMaterialZeroToWorkRange" serializeAs="String">
        <value>1243.75</value>
      </setting>
      <setting name="HandJobLimit" serializeAs="String">
        <value>9140</value>
      </setting>
      <setting name="HandOutClampToZeroLength" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="ClampDownEntranceL" serializeAs="String">
        <value>519.46</value>
      </setting>
      <setting name="ClampDownExportL" serializeAs="String">
        <value>519.3</value>
      </setting>
      <setting name="ClampDownEntranceR" serializeAs="String">
        <value>520.82</value>
      </setting>
      <setting name="ClampDownExportR" serializeAs="String">
        <value>517.46</value>
      </setting>
      <setting name="SideClampEntranceL" serializeAs="String">
        <value>1083.35</value>
      </setting>
      <setting name="SideClampExportL" serializeAs="String">
        <value>1083.4</value>
      </setting>
      <setting name="LeftEntranceDrillSetting" serializeAs="String">
        <value>(290.1,312.99,192.65,319.8)(290.1,219.88,192.88,321.8)(290.1,125.32,192.88,321.8)(290.1,26.94,193,318.75)</value>
      </setting>
      <setting name="LeftExportDrillSetting" serializeAs="String">
        <value>(9.05,312.37,191.68,320.3)(9.35,219.04,191.68,319.1)(9.05,122.41,191.68,320.4)(9.05,28.9,191.68,319.4)</value>
      </setting>
      <setting name="MiddleDrillSetting" serializeAs="String">
        <value>(307.87,150,112.26,-115.4)(227.7,150,112.65,-115.66)(147.57,150,112.65,-115.57)(66.72,150,112.4,-116.36)(-12.5,150,112.4,-115.92)</value>
      </setting>
      <setting name="RightEntranceDrillSetting" serializeAs="String">
        <value>(289.86,312.57,126.26,269.7)(289.23,220.63,126.72,267.6)(289.45,123.23,126.72,269.9)(288.83,29.97,127.19,268)</value>
      </setting>
      <setting name="RightExportDrillSetting" serializeAs="String">
        <value>(10.54,312.68,126.96,268.8)(10.2,218.67,126.96,269.7)(10.39,123.55,126.96,269.7)(10.06,29.7,126.96,270.6)</value>
      </setting>
      <setting name="HMI" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>GUANDA</value>
      </setting>
      <setting name="ClampDownThickness" serializeAs="String">
        <value>9999999</value>
      </setting>
      <setting name="HandSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Deserialize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InTotalLength" serializeAs="String">
        <value>600.18</value>
      </setting>
      <setting name="OutTotalLength" serializeAs="String">
        <value>576</value>
      </setting>
      <setting name="Length" serializeAs="String">
        <value>2290</value>
      </setting>
      <setting name="VerticalToOriginLength" serializeAs="String">
        <value>2250</value>
      </setting>
      <setting name="ArmInDownSensorToForntLength" serializeAs="String">
        <value>1800</value>
      </setting>
      <setting name="ArmInDownCheckPosition" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ArmXToOriginPoint" serializeAs="String">
        <value>9292</value>
      </setting>
      <setting name="ArmInTouchOriginLength" serializeAs="String">
        <value>830</value>
      </setting>
      <setting name="VerticalGrippingXLimit" serializeAs="String">
        <value>10328</value>
      </setting>
      <setting name="SafeTouchLength" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Vehicle_Length" serializeAs="String">
        <value>1100</value>
      </setting>
      <setting name="Vehicle_Raised_Length" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="Vehicle_Origin_To_Location_Point_Length" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="Traverse_Sort_Total_Length" serializeAs="String">
        <value>2355</value>
      </setting>
      <setting name="In_Traverse_Limit_Total_Length" serializeAs="String">
        <value>3530</value>
      </setting>
      <setting name="Sort_Traverse_Correction" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="To_ArmSide_Traverse_Correction" serializeAs="String">
        <value>-20</value>
      </setting>
    </WPFSTD105.Properties.MecSetting>
    <WPFSTD105.Properties.SofSetting>
      <setting name="Hole" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="HoleFinish" serializeAs="String">
        <value>#FF0000FF</value>
      </setting>
      <setting name="Selection" serializeAs="String">
        <value>#FFFFFF4D</value>
      </setting>
      <setting name="OsVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AxisX" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="AxisY" serializeAs="String">
        <value>#FF66FF00</value>
      </setting>
      <setting name="AxisZ" serializeAs="String">
        <value>#FF0000FF</value>
      </setting>
      <setting name="ViewCubeIcon" serializeAs="String">
        <value>#FF303030</value>
      </setting>
      <setting name="Part" serializeAs="String">
        <value>#FFB8FF34</value>
      </setting>
      <setting name="Ingredient1" serializeAs="String">
        <value>#FFC71585</value>
      </setting>
      <setting name="Ingredient2" serializeAs="String">
        <value>#FF008080</value>
      </setting>
      <setting name="Null" serializeAs="String">
        <value>#FFFAEBD7</value>
      </setting>
      <setting name="ParameterBackColor" serializeAs="String">
        <value>#FF303030</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BaseBackColor" serializeAs="String">
        <value>#FF1E1E1E</value>
      </setting>
      <setting name="ParameterFontColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="ParameterFontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="TitleFontSize" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="SubTitleFontSize" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="BorderBrushColor" serializeAs="String">
        <value>#FF666666</value>
      </setting>
      <setting name="Point" serializeAs="String">
        <value>#FF008000</value>
      </setting>
      <setting name="FontFamily" serializeAs="String">
        <value>Microsoft JhengHei</value>
      </setting>
      <setting name="LoadPath" serializeAs="String">
        <value>C:\Users\User\Desktop\Model</value>
      </setting>
      <setting name="OfficeMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="設定" serializeAs="String">
        <value />
      </setting>
    </WPFSTD105.Properties.SofSetting>
    <WPFSTD105.SofSetting>
      <setting name="Hole" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="HoleFinish" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="Part" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="Ingredients1" serializeAs="String">
        <value>Peru</value>
      </setting>
      <setting name="Ingredients2" serializeAs="String">
        <value>LightSeaGreen</value>
      </setting>
      <setting name="Loss" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="AxisX" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="AxisY" serializeAs="String">
        <value>48, 48, 48</value>
      </setting>
      <setting name="AxisZ" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewCubeIcon" serializeAs="String">
        <value>48, 48, 48</value>
      </setting>
    </WPFSTD105.SofSetting>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IMemor" />
        <binding name="IReadMemor" />
        <binding name="IWriteMemor" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="PhoneConnectDuplex">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.31.137:820/CodesysIIS/PhoneConnectDuplex.svc/PhoneConnectDuplex"
        binding="wsDualHttpBinding" bindingConfiguration="PhoneConnectDuplex"
        contract="PhoneMemor.IPhoneConnectDuplex" name="PhoneConnectDuplex" />
      <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc/IMemor"
        binding="basicHttpBinding" bindingConfiguration="IMemor" contract="Memor.IMemor"
        name="IMemor" />
      <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc/IReadMemor"
        binding="basicHttpBinding" bindingConfiguration="IReadMemor"
        contract="Memor.IReadMemor" name="IReadMemor" />
      <endpoint address="http://192.168.31.137:820/CodesysIIS/Memor.svc/IWriteMemor"
        binding="basicHttpBinding" bindingConfiguration="IWriteMemor"
        contract="Memor.IWriteMemor" name="IWriteMemor" />
      <metadata>
        <wsdlImporters>
          <extension type="Wsdl.WsdlDocumentationImporter, Wsdl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </wsdlImporters>
      </metadata>
    </client>
  </system.serviceModel>
</configuration>